[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
pyinstaller = "*"

[packages]
rosmarus = {editable = true,path = "."}
pyopengl = "*"
pyopengl-accelerate = "*"
glfw = "*"
pyglm = "*"
pyyaml = "*"
pillow = "*"
numpy = "*"
marshmallow = "*"
methodtools = "*"
pyogg = "*"
pyopenal = "*"
munch = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
